.login-page {
    font-family: "Graduate", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7D7C7C;
  }
  
  .login-container {
    display: flex;
    align-items: center;
    width: 800px;
    min-height: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    border-radius: 20px;
    padding-right: 20px;
  }
  
  .login-form {
    flex: 1;
    padding: 15px;
  }
  
  .logo {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px 0px 0px 5px;
  }
  
  .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login-page h2,
  h4 {
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
  }
  .login-page h2{
    font-size: 2.25em;
  }
  .login-page h4{
    font-size: 1.25em;
  }
  
  a {
    text-decoration: none;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    font-size: 1.2rem;
    color: #000000;
  }
  
  input {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  }
  
  input:hover {
    transition: 0.3s;
    width: 100%;
  }
  
  .btn-login {
    font-family: "Graduate", serif;
    background: #f3d304;
    background-image: -webkit-linear-gradient(top, #f3d304, #f3d304);
    background-image: -moz-linear-gradient(top, #f3d304, #f3d304);
    background-image: -ms-linear-gradient(top, #f3d304, #f3d304);
    background-image: -o-linear-gradient(top, #f3d304, #f3d304);
    background-image: linear-gradient(to bottom, #f3d304, #f3d304);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 5px;
    border: none;
    text-shadow: 1px 1px 3px #000000;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background: #302f30;
    text-decoration: none;
    transform: scale(1.07, 1);
    transition: 0.3s;
  }
  
  .auth-para {
    font-size: 12px;
    text-shadow: 0.5px 0.5px 1px #302f30;
  }
  
  .auth-para a:hover {
    font-size: 12px;
    color: #302f30;
    text-shadow: 0.5px 0.5px 1px #302f30;
  }